<div class='page-title' style="width:25%;">Generate coupons for <%= @promo_definition.name %></div>

<div class='container container_form_user'>

  <div>
    <%= form_for :promotion, url: promotion_definition_promotions_path(@promo_definition.id) do |form| %>
    
      <div class="form-group">
        <label>Coupons count</label>
        <div>
          <%= form.number_field :quantity , class: 'form-control' %>
        </div>
      </div>      

      <%= form.submit 'Generate' , class: 'btn form_btn' %>
      
      <% end  %>

      <div>
        <%= button_to('<< Back', promotion_definitions_path,  method: :get, class: 'btn btn-sm btn-outline-secondary') %>
      </div>
  </div>

</div>