<div class='page-title'>Create New Token</div>

<div class='container container_form_user'>

  <div>
    <%= form_for :token, url: generate_token_path do |form| %>
  
      <div class="form-group">
        <label><%= form.label :name %></label>
        <div>
          <%= form.text_field :name, required: true, placeholder: 'Name', class: 'form-control' %>
        </div>
      </div>
  
      <div class="form-group">
       
        <label>Promotions</label>
        <div>
          <%= form.select :codes, current_tenant.promotion_definitions.collect { |promo| [promo.name, promo.code] }, { include_hidden: false }, { multiple: true, class: 'form-control' } %>
        </div>
        <small class="form-text text-muted">You can select one or more items.</small>
      </div>

      <div style="margin-top: 15px;">
        <%= form.submit 'Generate' , class: 'btn form_btn' %>
      </div>
    <% end %>
  </div>
    
  <% if @new_token %>
      <div style="margin-top: 10px; margin-bottom:20px;">
        <div>
          <label>Your new token is:</label> 
          <textarea rows="5" class="form-control" style="font-size:20px;"> <%= @new_token %> </textarea>
        </div>
        <div>
          <label>Valid until:</label> 
          <strong><%= format_date(@time) %></strong>
        </div>
      </div>
  <% end %>

  <div>
    <%= button_to('<< Back', root_path,  method: :get, class: 'btn btn-sm btn-outline-secondary') %>
  </div>

</div>